<h2>Create your <%= @recipe.name %> recipe...</h2>

<form action="/recipes/<%= @recipe.id %>/ingredients" method="post">
  <div>
    <h2>Ingredients:</h2>
    <% if @recipe.ingredients.any?() %>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.ingredient() %></li>
      <% end %>
    </ul>
    <% end %>
    <p>Please list only the ingredient and put the quantities in the instructions.</p>
  </div>
  <div class="form-group">
    <label for="ingredient1">Enter Ingredient</label>
    <input type="text" name="ingredient">
  </div>
  <button type="submit">Add</button>
</form>

<form action="/recipes/<%= @recipe.id %>/instructions" method="post">
  <h2>Instructions:</h2>
  <div class="form-group">
    <textarea class="form-control" rows="10" name="instruction" placeholder="Please, write out step-by-step instructions here, including quantities and measurements."></textarea>
  </div>
  <button type="submit" name="submit">Submit</button>
</form>
